body{
    background-color: rgb(49, 182, 235);
    font: normal 15pt arial;
    text-align: center;

}

header {
    color: aliceblue;
}

section {
    background: white;
    width: 1000px;
    height: auto;
    margin: auto;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);

}

#imagem {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-top: 10px;
}

footer {
font-style: italic;
color: aliceblue;
}